[Unit]
Description=Thermostat-web
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/ThermOS
ExecStart=/usr/local/bin/gunicorn thermostat_web:app --bind unix:/home/pi/ThermOS/thermos.sock
Restart=always

[Install]
WantedBy=multi-user.target
