@font-face {
    font-family: agencyfb;
    src: url(../fonts/AGENCYR.TTF);
}

@font-face {
    font-family: agencyfb;
    src: url(../fonts/AGENCYB.TTF);
    font-weight: bold;
}

body {
    height:100%;
    min-height: 100%;
    position:relative;
    margin:0;
    padding:0;
}

body.hold{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #579bd3 url(/static/images/bg.png) repeat center top;
    font-family: 'agencyfb';
}

body.settings{
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: #579bd3 url(/static/images/bg.png) repeat center top;
    font-family: 'agencyfb';
    overflow: hidden;
    width: 100%
}

body.settings form {
    height: 450px;
    overflow: auto;
}

body.settings form > span {
    font-size: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

body.settings form > span > h2 {
    font-family: 'agencyfb';
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}

body.settings form > span > label {
    width: 265px;
    margin-right: 10px;
    vertical-align: middle;
    text-align: right;
}

body.settings form > span > div {
    margin: 0 !important;
}

body.settings form > span [id$="switch"]:after {
    content: "False";
    background-color: #c13434;
}

body.settings .tooltip {
  font-size: 30px;
  font-family: 'agencyfb';
  line-height: 30px;
}

/* delay before tooltip pops up */
body.settings .fade {
    transition: opacity .2s ease-in 2s
}

[id*="setting-"][type="text"],
[id*="setting-"][type="password"] {
    width: 500px;
    height: 75px;
    font-size: 36px;
    font-weight: bold;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
    color: #3a87ad;
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-info p:last-child {
    margin-bottom: 0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428BCA;
  color: #FFF;
}

.ui-popup-container {
    box-shadow: 0px 0px 233px black;
    border-radius: 30px;
}

.ui-popup > .close {
    border-radius: 0 30px 0 20px !important;
    width: 50px;
    height: 50px;
    background-color: rgb(215, 70, 70) !important;
    top: -1px !important;
    right: -2px !important;
    opacity: 1 !important;
    border: none;
    box-shadow: -1px 1px 6px rgba(0,0,0,.6);
}

iframe {
    border: none;
}

html { height: 100%; }

#header {
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    position:fixed;
}
#footer {
    height:100px;
    width:100%;
    bottom:0px;
    left:0px;
    position:fixed;
    background: -moz-linear-gradient(45deg, rgba(59,154,226,0.4) 0%, rgba(31,78,137,1) 45%, rgba(21,52,107,1) 60%);
    background: -webkit-linear-gradient(45deg, rgba(59,154,226,0.4) 0%,rgba(31,78,137,1) 45%,rgba(21,52,107,1) 60%);
    background: linear-gradient(45deg, rgba(59,154,226,0.4) 0%,rgba(31,78,137,1) 45%,rgba(21,52,107,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#663b9ae2', endColorstr='#15346b',GradientType=1 );
    border-top: 3px white solid;
}


/* LAME.CSS */
/* switch thanks to this fancy generator: http://proto.io/freebies/onoff/ */
/* <!-- */
body {

#f7f7f7url(http: //css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;#f7f7f7url(http: //css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;#f7f7f7url(http: //css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;#f7f7f7url(http: //css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;#f7f7f7url(http: //css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;background: #92cdf7 url(http://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;}
#header h1,
#header h2,
#header p {
    margin-left:2%;
    padding-right:2%;
}
#active2 #tab2,
#active3 #tab3,
#active4 #tab4,
#active5 #tab5 {
    font-weight:bold;
    text-decoration:none;
    color:#000;
}

.box-letterpress {
    background: rgb(109, 182, 223);
    -webkit-box-shadow: inset 1px 1px 2px 0px #0D0D0D;
    -moz-box-shadow: inset 1px 1px 2px 0px #0D0D0D;
    box-shadow: inset 1px 1px 8px 0px rgba(0, 0, 0, 0.45),inset -1px -1px 3px 0px #a2d2f9, -3px -2px 11px #a2d2f9;
    display: inline-block;
    margin: 10px;
    padding: 8px 0px;
    /* border: 1px solid rgba(0,0,0,0.15); */
    /* border-bottom: 3px solid rgba(62, 62, 62, 0.5); */
    /* border-right: 3px solid rgba(62, 62, 62, 0.5); */
    border-radius: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
}

.box-letterpress > input {
    background: none;
    border: none;
}

.degreesF:after {
    content: "\00b0 F";
    font-size: 5vmin;
    position: absolute;
    line-height: 90px;
}


#content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 232px 20px 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
#container1, #container2 {
    font-family: agencyfb;
    font-weight: bold;
    width: 640px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    align-self: center;
}
#container2 {
    height: 170px;
    margin-top: 40px;
}
#container1 > div{
    background: url(../images/info_box_big.png) no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
}
#container2 > div{
    background: url(../images/info_box_small.png) no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
}
#indoorLabel{
    position: absolute;
    margin: -30px 0 0 50px;
    font-size: 30px;
    font-family: agencyfb;
    font-weight: normal;
}
#outdoorLabel {
    position: absolute;
    right: 0px;
    margin: -30px 50px 0 0;
    font-family: agencyfb;
    font-size: 30px;
    font-weight: normal;
}
#col1 {
    float:left;
    width:46%;
    position:relative;
    left:52%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:46%;
    position:relative;
    left:56%;
    overflow:hidden;
}
#row1 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
#row2 {
    float:left;
    width:100%;
    position:relative;
    overflow:hidden;
}
/* --> */
.holdTempContainer {
    display: inline-flex;
    height: 200px;
    overflow: hidden;
    padding: 0;
    font-family: 'agencyfb';
    margin-right: 20px;
}
.plusminusContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 120px;
    justify-content: center;
    padding-left: 20px;
}

.plusminus{
    width: 100px;
    height: 100px;
    margin: 0 -5px;
    border-radius: 0px;
    box-shadow: inset 10px 0px 3px -9px rgba(0, 0, 0, 0.46);
    background: none;
    border-left: 1px solid #315569;
    border-top: 1px solid #315569;
    margin-top: -1px;
    font-size: 100px;
    line-height: 75px;
}

li {
    list-style: none;
    font-size: 24px;
}
.goButton {
    font-size: 64pt;
    width: 200px;
    text-align: center
}
input[type="text"] {
    font-size: 125pt;
    width: 200px;
    text-align: center;
}

#currentSchedule {
    float: left;
    width: 30%;
    height: 250px;
    font-size: 5.5vmin;
    position: relative;
    display: table;
}

#scheduleEntry {
    font-size:    
}

#targetTemps {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 15px;
}

#target-heat, #target-cool{
    width: 80%;
    margin: auto;
    line-height: 52px;
    font-size: 52px;
}

@media screen and (min-height: 680px) {
#target-heat, #target-cool{
    line-height: 1;
    }
}

#target-heat:before {
    content: "";
    display: block;
    background: url("../images/flame_small.png") no-repeat;
    width: 50px;
    height: 50px;
    float: left;
}

#target-cool:before {
    content: "";
    display: block;
    background: url("../images/snowflake_small.png") no-repeat;
    width: 50px;
    height: 50px;
    float: left;
}

p#currentTemp {
    font-size: 20vmin;
    margin: 0px;
    padding-left: 20px;
    font-family: agencyfb;
    font-weight: bold;
    width: 70%;
    float: left;
    position: relative;
    height: 250px;
}

#indoorTempSpan {
    display: inline-block;
    text-align: left;
    position: absolute;
    bottom: 0;
    font-size: 240px;
    line-height: 234px;
    right: 0;
    left: 15%;
    letter-spacing: -4px;
}

#indoorTempSpan:after {
    font-size: 5vmin;
    position: absolute;
    line-height: 90px;
    letter-spacing: 0;
}

.unit-F:after {
    content: "\00b0 F";
}

.unit-C:after {
    content: "\00b0 C";
}

div#outdoorTempContainer {
    justify-content: center;
    display: flex;
    align-items: center;
}

#outdoorTempSpan {
    display: inline-block;
    text-align: left;
    font-size: 150px;
    line-height: 150px;
}

#outdoorTempSpan:after {
    font-size: 5vmin;
    position: absolute;
    line-height: 70px;
}

#currentWeatherIcon {
    padding: 0 25px;
}
p#outdoorHumidity {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#outdoorHumidity > #humidity {
    font-size: 80px;
    line-height: 75px;
}
#outdoorHumidity > #humidityLabel {
    font-size: 30px;
    font-weight: normal;
    color: rgb(255,192,0);
}

p#targetTemp {
    font-size: 64pt;
    margin: 0px;
}
p#daemonRunning{
    font-size: 16pt;
    color:#1BB300;
    font-weight:bold;
}
p#daemonNotRunning{
    font-size: 64pt;
    color:#FF0000;
    font-weight:1500;
}
p#cool{
    color:#2FCCFF;
    font-size: 12pt;
}
p#heat{
    color:#FF0000;
    font-size: 12pt;

}
p#fan{
    color:#00CC00;
    font-size: 12pt;
}
p#coolOn{
    color:#2FCCFF;
    font-size: 24pt;
    font-weight:bold;
}
p#heatOn{
    color:#FF0000;
    font-size: 24pt;
    font-weight:bold;
}
p#fanOn{
    color:#00CC00;
    font-size: 24pt;
    font-weight:bold;
}

div#footerAlerts {
    width: 50%;
    height: 99%;
    padding: 0 10px;
}

div#weatherAlerts {
    align-items: center;
    display: flex;
}

span.alertTitle {
    color: white;
    font-size: 30px;
    text-align: left;
    float: left;
    padding-right: 20px;
}

span.alertTitle:after {
    content: " - "
}

p.alertBody {
    color: white;
    text-shadow: black 1px 1px 1px;
    line-height: 22px;
    text-align: left;
    font-size: 16px;
    margin: auto;
}
/*the crazy switch bit*/

.onoffswitch {
    position: relative; 
    width: 300px;
    height: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 0 auto 20px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 25px;
    box-shadow: 2px 2px 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 70px; padding: 0; line-height: 70px;
    font-size: 32px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Cool";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "Heat";
    padding-right: 10px;
    background-color: #FF9100; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-inner.true-false:before{
    content: "True";
    background-color: #33c17a;
}
.onoffswitch-inner.true-false:after{
    content: "False";
    background-color: #c13434;
}
.onoffswitch-switch {
    display: block; width: 55px; margin: 7.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 230px;
    border: 2px solid #999999; border-radius: 25px;
    transition: all 0.3s ease-in 0s; 
    
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* select box */

.styled-select {
   background: url(/static/images/select_box_arrow.png) no-repeat 96% 0;
   height: 58px;
   overflow: hidden !important;
   width: 300px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 58px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 328px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px;
}

.blue{
    background-color: #3b8ec2;
    border-top: 2px solid rgb(100, 200, 255);
    border-left: 2px solid rgb(100, 200, 255);
}

.blue option{
     background-color: #3b8ec2; 
}

.blue select{ 
    color: #fff;
    font-size: 30px;
}

/* LETTERPRESS */

h2{
    font: 55px Tahoma, Helvetica, Arial, Sans-Serif;
}

.blue-letterpress{
    color: rgb(49, 77, 95);
    text-shadow: 0px 2px 3px #9dcae4, -1px -1px rgba(255, 255, 255, 0.26);
}

/* ALERT BUTTONS */
.alert{
    text-shadow:0 1px 0 rgba(255,255,255,.6);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05)
}

.alert.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

/* Green */
.alert-success{
    background-image: -webkit-linear-gradient(top,#d9f7db 0,#bdf0b9 100%);
    background-image: -o-linear-gradient(top,#d9f7db 0,#bdf0b9 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d9f7db),to(#bdf0b9));
    background-image: linear-gradient(to bottom,#d9f7db 0,#bdf0b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9f7db', endColorstr='#bdf0b9', GradientType=0);
    background-repeat: repeat-x;
    font-size: 20px;
    font-weight: bold;
    color: #40ad3a;
    background-color: #daf7d9;
    border-color: #40ad3a;
}

/* Blue */
.alert-info,
.alert-message{
    background-image:-webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image:-o-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#d9edf7),to(#b9def0));
    background-image:linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    background-repeat:repeat-x;
    border-color:#9acfea;
    font-size: 20px;
    font-weight: bold;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* Orange */
.alert-warning{
    background-image: -webkit-linear-gradient(top,#f7f6d9 0,#f1b855 100%);
    background-image: -o-linear-gradient(top,#f7f6d9 0,#f1b855 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f7f6d9),to(#f1b855));
    background-image: linear-gradient(to bottom,#f7f6d9 0,#f1b855 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6d9', endColorstr='#f1b855', GradientType=0);
    background-repeat: repeat-x;
    font-size: 20px;
    font-weight: bold;
    color: #ad653a;
    background-color: #f7ecd9;
    border-color: #f1bcbc;

}

/* Red */
.alert-danger{
    background-image: -webkit-linear-gradient(top,#f7d9d9 0,#f0b9b9 100%);
    background-image: -o-linear-gradient(top,#f7d9d9 0,#f0b9b9 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f7d9d9),to(#f0b9b9));
    background-image: linear-gradient(to bottom,#f7d9d9 0,#f0b9b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d9d9', endColorstr='#f0b9b9', GradientType=0);
    background-repeat: repeat-x;
    font-size: 20px;
    font-weight: bold;
    color: #ad3a3a;
    background-color: #f7d9d9;
    border-color: #f1bcbc;
}

.alert-dismissable,.alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close,.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:focus,.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

/* ROUND BUTTONS */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
  font-family: 'fontello';
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*="icon-"] {
  font-family: 'agencyfb';
  font-size: 90px;
  /* FONT-WEIGHT: bold; */
}

.icon-set:after      { content: "SET";}
.icon-save:after     { content: "SAVE"; font-size: 80px;}
.icon-play:after     { content: "\27A4"; }
.icon-home:after     { content: "\2302"; } 
.icon-cog:after      { content: "\2699"; } 
.icon-cw:after       { content: "\27f3"; } 
.icon-location:after { content: "\e724"; } 

body.settings .icon-save:after {
    content: "SAVE";
    font-size: 70px;
    letter-spacing: 25px;
}

.round-nav {
  list-style: none;
  text-align: center;
}

.round-nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.round-nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #6fb3da;
  border-bottom: 1px solid #c2e3fe;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.round-nav a:link, .round-nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #579bd3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#579bd3), to(#70bae1));
  background-image: -webkit-linear-gradient(top, #579bd3, #70bae1); 
  background-image: -moz-linear-gradient(top, #579bd3, #70bae1); 
  background-image: -ms-linear-gradient(top, #579bd3, #70bae1); 
  background-image: -o-linear-gradient(top, #579bd3, #70bae1); 
  color: #5080a4;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #c2e3fe;
  border: solid 1px transparent;
}

body.settings .round-nav a:link, 
body.settings .round-nav a:visited {
    height: 70px;
    width: 400px;
    border-radius: 20px;
    line-height: 60px;
}

.round-nav a:before {
  content: "";
  display: block;
  background: #c2e3fe;
  border-top: 2px solid #6fb3da;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #6fb3da;
}

body.settings .round-nav a:before {
    top: -14px;
    left: -14px;
    bottom: -14px;
    right: -14px;
    border-radius: 20px;
}

.round-nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #c2e3fe;
}

.round-nav a:hover {
  text-decoration: none;
  color: #2a4555;
  background: #7fc5f1;
}