<!DOCTYPE html>
<head>
    <meta text/html;charset="utf-8">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <title>Thermostat</title>
    
    <!-- Bootstrap core CSS -->
    <link href="/static/css/jquery.mobile-1.4.5.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="/static/css/bootstrap.css" media="none" onload="if(media!='all')media='all'">
	<noscript><link href="/static/css/bootstrap.css" rel="stylesheet" media="none"></noscript>
    <link href="/static/css/main.css" rel="stylesheet">

    <script type='application/javascript' src="/static/fastclick.js" defer></script>
    <script type='application/javascript' src="/static/jquery.min.js" async></script>
    
    <script>
        $(document).on("mobileinit", function () {
            $.mobile.hashListeningEnabled = false;
            $.mobile.ajaxLinksEnabled = false,
            $.mobile.pushStateEnabled = false;
            $.mobile.changePage.defaults.changeHash = false;
        });
    </script>
    <script type='application/javascript' src="/static/jquery.mobile-1.4.5.min.js" async></script>

    <script type="application/javascript">
    // popup examples
    $( document ).on( "pagecreate", function() {
        // The window width and height are decreased by 30 to take the tolerance of 15 pixels at each side into account
        function scale( width, height, padding, border ) {
            var scrWidth = $( window ).width() - 30,
                scrHeight = $( window ).height() - 30,
                ifrPadding = 2 * padding,
                ifrBorder = 2 * border,
                ifrWidth = width + ifrPadding + ifrBorder,
                ifrHeight = height + ifrPadding + ifrBorder,
                h, w;
            if ( ifrWidth < scrWidth && ifrHeight < scrHeight ) {
                w = ifrWidth;
                h = ifrHeight;
            } else if ( ( ifrWidth / scrWidth ) > ( ifrHeight / scrHeight ) ) {
                w = scrWidth;
                h = ( scrWidth / ifrWidth ) * ifrHeight;
            } else {
                h = scrHeight;
                w = ( scrHeight / ifrHeight ) * ifrWidth;
            }
            return {
                'width': w - ( ifrPadding + ifrBorder ),
                'height': h - ( ifrPadding + ifrBorder )
            };
        };

        $( "#popupPanel" ).on({
            popupbeforeposition: function() {
                var size = scale( 800, 600, 0, 1 ),
                    w = size.width,
                    h = size.height;
                $( "#popupPanel iframe" )
                    .attr( "width", w )
                    .attr( "height", h );
            },
            popupafterclose: function() {
                $( "#popupPanel iframe" )
                    .attr( "width", 0 )
                    .attr( "height", 0 )
                    .attr( "src", "about:blank");
            }
        });
        
    });
    </script>
    <!-- This will update the current indoor temp as fed from getIndoorTemp.py
         Refreshes every 5 seconds -->


    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function() {
           
            $('a[data-src="/fan"]').bind('click', function() {
                $.ajax({
                    type : "POST",
                    data : { toggle: true},
                    url : $SCRIPT_ROOT + "/_fanMode",
                    success : function(result){
                        $('#fanStatus').html(result);
                    }
                })
            });
        });
        
        /* reload daemon on schedule close */
        $(function() {
            var popupSrc = $('#popupFrame').attr('src');
            $('a[data-rel="back"]').bind('click', function() {
                liveUpdate();
                if ($('#popupFrame').attr('src') == '/admin/schedule' ){
                    $.ajax({
                        type : "POST",
                        data : { toggle: true},
                        url : $SCRIPT_ROOT + "/_reloadConfig"
                    })
                }
            });
            $('div.ui-overlay-a').click( function() {
                liveUpdate();
                if ($('#popupFrame').attr('src') == '/admin/schedule' ){
                    $.ajax({
                        type : "POST",
                        data : { toggle: true},
                        url : $SCRIPT_ROOT + "/_reloadConfig"
                    })
                }
            });
        });
  
    function liveUpdate() {

        $.ajax({
            url : $SCRIPT_ROOT + "/_liveUpdate",
            success : function(result){
                $('#fanStatus').html($(result).find('#fanModeContainer').html());
                $('#systemStatus').html($(result).find('#systemModeContainer').html());
                $('#holdTime').html($(result).find('#holdTimeContainer').html());
                $('#targetTemps').html($(result).find('#targetTemps').html());
                $('#indoorTempSpan').html($(result).find('#indoorTempContainer').html());
                $('#outdoorTempContainer').html($(result).find('#currentWeather').html());
                $('#footerAlerts').html($(result).find('#weatherAlerts').html());
                $('#scheduledRun').html($(result).find('#scheduleEntry').html());
                $('#currentTime').html($(result).find('#timeContainer').html());
                $('title').html('Currently ' + $(result).find('#indoorTempContainer').html() + '&deg;');
                /*$('#schedule').html($(result).find('#updateTemp').html());*/
            }
        })
    };

    window.setInterval(function(){
      liveUpdate()
    }, 5000);
    </script>
    
    <script>
        function init() {
            liveUpdate();
            {{ openSettings|safe }}
        };
    </script>
</head>

<body class="main-form" onload="init();">

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pager">
            <li class="modern embossed-link"><a id="fan-btn" data-src="/fan"><img src="static/images/fan-small.png"><label id="fanStatus">{{ fanStatus }}</label></a></li>
            <li class="modern embossed-link"><a id="system-btn" class="button-popup" href="#popupPanel" data-rel="popup" data-position-to="window" data-src="/system"><img src="static/images/system-small.png"><label id="systemStatus">{{ systemStatus }}</label></a></li>
            <li class="modern embossed-link"><a id="schedule-btn" class="button-popup" href="#popupPanel" data-rel="popup" data-position-to="window" data-src="/schedule"><img src="static/images/schedule-small.png"></a></li>
            <li class="modern embossed-link"><a id="hold-btn" class="button-popup" href="#popupPanel" data-rel="popup" data-position-to="window" data-src="/hold"><img src="static/images/hold-small.png"><label id="holdTime">{{ holdTime }}</label></a></li>
            <li class="modern embossed-link"><a id="settings-btn" class="button-popup" href="#popupPanel" data-rel="popup" data-position-to="window" data-src="/settings"><img src="static/images/settings-small.png"></a></li>
            <li class="modern embossed-link"><a id="logs-btn" class="button-popup" href="#popupPanel" data-rel="popup" data-position-to="window" data-src="/_daemonLogs"><img src="static/images/logs-small.png"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div data-role="popup" id="popupPanel" data-overlay-theme="a" data-theme="a" data-corners="false" data-tolerance="15,15">
        <a href="#" data-rel="back" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right close">Close</a>
        <iframe id="popupFrame" src="about:blank" width="auto" height="auto" seamless=""></iframe>
    </div>
    
    <div id="content">
        <div id="container1">
            <div>
                <p id="indoorLabel">INDOOR</p>
                    <p id="currentTemp"><span class="unit-{{ unit }}" id="indoorTempSpan"></span></p>
                    <div id="currentSchedule">
                        <div id="targetTemps">
                          <div id="targetHeat"></div>
                          <div id="targetCool"></div>
                        </div>
                    </div>
            </div>
            
        </div>
        <div class={{ weatherVisible }} id="container2">
            <div>
                <p id="outdoorLabel">OUTDOOR</p>
                <a href="/forecast" data-ajax="false"><div id="outdoorTempContainer"></div></a>
                <span id="currentScheduleSpan"></span>
            </div>
        </div>
            <div class="push"></div>
    </div>
    
    <div id="footer">
        <marquee id="footerAlerts">{{ alerts|safe }}</marquee>
        <span id="currentTime"></span>
        <span id="scheduledRun"></span>
    </div>
</body>
<script>
$(".button-popup").click(function(){
    var iframe = $( "#popupPanel iframe" );
    iframe.attr("src", $(this).data("src")); 
});
</script>