<!DOCTYPE html>
<head>
    <meta text/html;charset="utf-8">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <script type='application/javascript' src="/static/jquery.min.js"></script>
    <script type='application/javascript' src="/static/bootstrap.min.js"></script>
    
</head>

<body class="settings">
    <div style="position:absolute; top:0; left:0;width:600px">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    <form action="{{ url_for('settings_submit') }}" method="POST" id="settings-form">
        <div style="padding-right: 10px; border-bottom: 4px solid rgb(69, 111, 146);">
            <span><h2>Thermostat Settings</h2></span>
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Thermostat-daemon service will output extra logs and error information">
                <label>Debug Enabled:</label>
                <div class="onoffswitch" id="setting-option-debug">
                    <input type="checkbox" name="bool-debug" class="onoffswitch-checkbox" id="debugswitch" {% if config.debug %}checked{% endif %}>
                    <label class="onoffswitch-label" for="debugswitch">
                            <div class="onoffswitch-inner true-false"></div>
                            <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Units to use to display temperature data">
                <label>Temperature Units:</label>
                <div class="styled-select blue semi-square" style="margin: 0 auto; text-align: center;">
                    <select class="styled-select blue semi-square" name="option-temperature-units">
                      <option value="C" {% if config.units == 'C' %}selected{% endif %}>&deg;Celsius</option>
                      <option value="F" {% if config.units == 'F' %}selected{% endif %}>&deg;Farenheit</option>
                    </select>
                </div>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="heat or cool &deg;{{ config.units }} past set temperature">
                <label>Active Hysteresis:</label>
                <input class="blue-letterpress" type="text" id="setting-active-hysteresis" name="float-active-hysteresis" value={{ config.active_hysteresis|default('0.5', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Turn system off until room warms or cools &deg;{{ config.units }} past set temperature">
                <label>Inactive Hysteresis:</label>
                <input class="blue-letterpress" type="text" id="setting-inactive-hysteresis" name="float-inactive-hysteresis" value={{ config.inactive_hysteresis|default('1.0', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Adjust thermostat sensor by this amount">
                <label>Temperature Offset:</label>
                <input class="blue-letterpress" type="text" id="setting-f-offset" name="float-temperature-offset" value={{ config.temperature_offset|default('0', true) }}>
            </span>
            
            <span><h2>GPIO Settings</h2></span>
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="The identification scheme for the GPIO pins">
                <label>Numbering Scheme:</label>
                <div class="styled-select blue semi-square" style="margin: 0 auto; text-align: center;">
                    <select class="styled-select blue semi-square" name="option-numbering-scheme">
                      <option value="BOARD" {% if config.numbering_scheme == 'BOARD' %}selected{% endif %}>BOARD</option>
                      <option value="BCM" {% if config.numbering_scheme == 'BCM' %}selected{% endif %}>BCM</option>
                    </select>
                </div>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Pin that activates your AC">
                <label>AC Pin:</label>
                <input class="blue-letterpress" type="text" id="setting-ac-pin" name="int-ac-pin" value={{ config.ac_pin|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Pin that activates your Heater">
                <label>Heater Pin:</label>
                <input class="blue-letterpress" type="text" id="setting-heat-pin" name="int-heat-pin" value={{ config.heater_pin|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Pin that activates your Fan">
                <label>Fan Pin:</label>
                <input class="blue-letterpress" type="text" id="setting-fan-pin" name="int-fan-pin" value={{ config.fan_pin|default('', true) }}>
            </span>
            
            
            <span><h2>Weather Settings</h2></span>
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Sign up for API key at https://developer.forecast.io/">
                <label>Weather Enabled:</label>
                <div class="onoffswitch" id="setting-option-weather">
                    <input type="checkbox" name="bool-weather" class="onoffswitch-checkbox" id="weatherswitch" {% if config.weather_enabled %}checked{% endif %}>
                    <label class="onoffswitch-label" for="weatherswitch">
                            <div class="onoffswitch-inner true-false"></div>
                            <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Sign up for API key at https://developer.forecast.io/">
                <label>Forecast.io API Key:</label>
                <input class="blue-letterpress" type="text" id="setting-api-key" name="text-api-key" value={{ config.api_key|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="(maps.google.com) Right-click location -select-> what's here?">
                <label>Latitude:</label>
                <input class="blue-letterpress" type="text" id="setting-latitude" name="float-latitude" value={{ config.latitude|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="(maps.google.com) Right-click location -select-> what's here?">
                <label>Longitude:</label>
                <input class="blue-letterpress" type="text" id="setting-longitude" name="float-longitude" value={{ config.longitude|default('', true) }}>
            </span>
            
            <span><h2>Mail Settings</h2></span>
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Send email when something goes wrong">
                <label>Mail Enabled:</label>
                <div class="onoffswitch" id="setting-option-mail">
                    <input type="checkbox" name="bool-mail" class="onoffswitch-checkbox" id="mailswitch" {% if config.mail_enabled %}checked{% endif %}>
                    <label class="onoffswitch-label" for="mailswitch">
                            <div class="onoffswitch-inner true-false"></div>
                            <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Send email if temp gets this far away from target temp">
                <label>Error Threshold:</label>
                <input class="blue-letterpress" type="text" id="setting-error-threshold" name="float-error-threshold" value={{ config.error_threshold|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="The SMTP server of your choice (e.g. - smtp.gmail.com)">
                <label>SMTP Server:</label>
                <input class="blue-letterpress" type="text" id="setting-smtp-server" name="text-smtp-server" value={{ config.smtp_server|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="SMTP port number (e.g. - 587)">
                <label>SMTP Port:</label>
                <input class="blue-letterpress" type="text" id="setting-smtp-port" name="int-smtp-port" value={{ config.smtp_port|default('', true) }}>
            </span>
	    
	    <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="The IMAP server of your choice (e.g. - imap.gmail.com)">
                <label>IMAP Server:</label>
                <input class="blue-letterpress" type="text" id="setting-imap-server" name="text-imap-server" value={{ config.imap_server|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="SMTP port number (e.g. - 993)">
                <label>IMAP Port:</label>
                <input class="blue-letterpress" type="text" id="setting-imap-port" name="int-imap-port" value={{ config.imap_port|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Username for sender account">
                <label>Username:</label>
                <input class="blue-letterpress" type="text" id="setting-username" name="text-username" value={{ config.username|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Password for sender account">
                <label>Password:</label>
                <input class="blue-letterpress" type="password" id="setting-password" name="text-password" value={{ config.password|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Sender email address (faking this may get you flagged by spam filters)">
                <label>Sender:</label>
                <input class="blue-letterpress" type="text" id="setting-sender" name="text-sender" value={{ config.sender|default('', true) }}>
            </span>
            
            <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="Recipient email or sms address">
                <label>Recipient:</label>
                <input class="blue-letterpress" type="text" id="setting-recipient" name="text-recipient" value={{ config.recipient|default('', true) }}>
            </span>
	    
	    <span data-toggle="tooltip"  data-delay='{"show":"2000"}' title="This code is provided by the mobile app">
                <label>Access Code:</label>
                <input class="blue-letterpress" type="text" id="setting-access-code" name="text-access-code" value={{ config.access_code|default('', true) }}>
            </span>
        </div>
        <div style="border-top: 1px solid white;">
            <span>
                <ul class="round-nav" style="padding:0;">
                    <li>
                      <a href="#" onclick="$(this).closest('form').submit()">
                        <span class="btn-icon-save blue-letterpress"></span>
                        <span class="screen-reader-text">Save</span>
                      </a>
                    </li>
                </ul>
            </span>
        </div>
        
    </form>

    
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>